img {
    
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#img-caption {
    text-align: center;
    /* text-decoration: wavy;
     */
     font-style: italic;
     font-size: small;
}


#title{
    text-align: center;
     
}
.textcl{
    text-align: justify;
}

#image {
    border: 10px solid transparent;
    /* padding: 15px; */
    border-image: url(border.png) 30 fill;
  }

  #title {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 space;
  }

  body {
    background: radial-gradient(circle, rgb(212, 198, 132), rgb(128, 60, 60));
  }